@using Microsoft.AspNetCore.Identity
@using MvcBlog.Areas.Identity.Data

@inject UserManager<MvcBlogUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
</head>

<body>
    <header>
        <div class="content">
            <div class="navbar">
                <a asp-controller="Posts" asp-action="Index">Posts</a>
                <a asp-controller="About" asp-action="Index">About</a>
                <a asp-controller="Home" asp-action="Index" class="big">JapanWanderer</a>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-controller="Admin" asp-action="Manage">Manage</a>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                        asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit">Logout</button>
                    </form>
                }
                else if (User.IsInRole("User"))
                {
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                        asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit">Logout</button>
                    </form>
                    <a>@user.FirstName</a>
                }
                else
                {
                    <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                    <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                }
            </div>
        </div>
    </header>

    <main>
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>